![](tec.png)


    
## Análisis de Datos Masivos
## Bases de datos sqlite
## Nombre del docente
### José Gabriel Rodriguez Rivas
## Nombre del alumno
### Najib Alejandro Loera Rodriguez

In [1]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
conn= sqlite3.connect('phonebook.db')

In [3]:
cur = conn.cursor()

In [4]:
query = "SELECT name FROM coworkers;"
cur.execute(query)

In [5]:
for a in cur:
    print(a)

('Han Solo',)
('Leia Skywalker',)
('Luke Skywalker',)
('Obi-Wan Kenobi',)
('Anakin Skywalker',)
('Jabba The Hutt',)
('Greedo',)
('R2D2',)
('C3PO',)

### Proporcione el código para consultar los nombres de todas las princesas.

In [14]:
query1 = "SELECT name FROM coworkers where title='Princess';"
cur.execute(query1)
for row in cur:
    print(row)

('Leia Skywalker',)

### Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.

In [15]:
query2 = "SELECT name FROM coworkers where title='Princess' or title='Debt Collector';"
cur.execute(query2)
for x in cur:
    print(x)

('Leia Skywalker',)
('Greedo',)

###  Proporcione el código para consultar los nombres y los números de todos los Jedi.

In [16]:
query3 = "SELECT name, number FROM coworkers where title='Jedi' ;"
cur.execute(query3)
for x in cur:
    print(x)

('Luke Skywalker', 5558963267)
('Obi-Wan Kenobi', 5558963276)

### Proporcione el código para consultar los nombres de los droids.

In [17]:
query4 = "SELECT name FROM coworkers where title='Protocol Droid' ;"
cur.execute(query4)
for x in cur:
    print(x)

('C3PO',)